.header
  .header_top
    .header_top_box
      .header_top_box_logo
        = link_to root_path, class: "header_top_box_logo" do
          Logo
      - if user_signed_in?
        .header_top_box_right
          .header_top_box_right_serch
            .header_top_box_right_serch_btn
              = icon('fas', 'search')
          .header_top_box_right_login
            .header_top_box_right_login_bbtn
              = link_to destroy_user_session_path, method: :delete, class: "header_top_box_right_login_bbtn" do
                ログアウト
          .header_top_box_right_enter
            .header_top_box_right_enter_bttn
              .header_top_box_right_enter_bttn_ety
                = link_to new_note_path, class: "header_top_box_right_enter_bttn_ety" do
                  投稿
      - else
        .header_top_box_right
          .header_top_box_right_serch
            .header_top_box_right_serch_btn
              = icon('fas', 'search')
          .header_top_box_right_login
            .header_top_box_right_login_bbtn
              = link_to new_user_session_path, class: "header_top_box_right_login_bbtn" do
                ログイン
          .header_top_box_right_enter
            .header_top_box_right_enter_bttn
              .header_top_box_right_enter_bttn_ety
                = link_to new_user_registration_path, class: "header_top_box_right_enter_bttn_ety" do
                  新規登録
  .header_menu
    .header_menu_boxx
      .header_menu_boxx_menus
        .header_menu_boxx_menus_bar
          .header_menu_boxx_menus_bar_me-one
            募集中
        .header_menu_boxx_menus_bar
          .header_menu_boxx_menus_bar_me-one
            おすすめ
        .header_menu_boxx_menus_bar
          .header_menu_boxx_menus_bar_me-one
            
        .header_menu_boxx_menus_bar
          .header_menu_boxx_menus_bar_me-one
            
        .header_menu_boxx_menus_bar-two
          .header_menu_boxx_menus_bar-two_me-two
            
        .header_menu_boxx_menus_bar-two
          .header_menu_boxx_menus_bar-two_me-two
            人気タグ⬇️
        .header_menu_boxx_menus_bar
          .header_menu_boxx_menus_bar_question

      .header_menu_boxx_tag
        .header_menu_boxx_tag_catego
          .header_menu_boxx_tag_catego_catebar
            .header_menu_boxx_tag_catego_catebar_ctg
              中華
          .header_menu_boxx_tag_catego_catebar
            .header_menu_boxx_tag_catego_catebar_ctg
              大人数
          .header_menu_boxx_tag_catego_catebar
            .header_menu_boxx_tag_catego_catebar_ctg
              ソース
          .header_menu_boxx_tag_catego_catebar
            .header_menu_boxx_tag_catego_catebar_ctg
              スイーツ
          .header_menu_boxx_tag_catego_catebar
            .header_menu_boxx_tag_catego_catebar_ctg
              カレー
              
        .header_menu_boxx_tag_catego-right
          .header_menu_boxx_tag_catego-right_catebar-right
            .header_menu_boxx_tag_catego-right_catebar-right_ctg-right
              すべて⬇️
  



-# .header
-#   .box
-#     .boxtop
-#       .boxtop__img
-#         = image_tag "fmarket_logo_red.svg", class: "boxtop__img", alt:"logo"
-#       .boxtop__form
-#         = form_with(url: search_items_path, local: true, method: :get, id: "keyword") do |form| 
-#           = form.text_field :keyword, placeholder: "何かお探しですか？", class: "boxtop__form" 
-#           = button_tag type: "submit", class: "boxtop__form--icon" do
-#             %i.fa.fa-search
-#         %end
-#     - if user_signed_in?
-#       .myboxbar
-#         .myboxbar__list
-#           = link_to "#", class: "myboxbar__list" do
-#             = icon('fas', 'list-ul', class: 'myboxbar__list--icon')
-#             カテゴリーから探す
-#           = link_to "#", class: "myboxbar__list" do
-#             = icon('fas', 'tags', class: 'myboxbar__list--icon')
-#             ブランドから探す

-#         %ul.myboxbar_end
-#           %li.myboxbar_end--li
-#             = link_to "#", class: "myboxbar_end--li" do
-#               = icon('far', 'heart', class: 'myboxbar_end--li--icon')
-#               いいね！一覧
-#           %li.myboxbar_end--li
-#             = link_to "#", class: "myboxbar_end--li" do
-#               = icon('far', 'bell', class: 'myboxbar_end--li--icon')
-#               お知らせ
-#           %li.myboxbar_end--li
-#             = link_to "#", class: "myboxbar_end--li" do
-#               = icon('fas', 'check', class: 'myboxbar_end--li--icon')
-#               やることリスト
-#           %li.myboxbar_end--myli
-#             = link_to cards_index_path, class: "myboxbar_end--myli" do
-#               .myboxbar_end--myli--img
-#               マイページ
-#     - else
-#       .boxbar
-#         .boxbar__list
-#           = link_to "#", class: "boxbar__list" do
-#             = icon('fas', 'list-ul', class: 'boxbar__list--icon')
-#             カテゴリーから探す
-#           = link_to "#", class: "boxbar__list" do
-#             = icon('fas', 'tags', class: 'boxbar__list--icon')
-#             ブランドから探す
-#         .boxbar__end
-#           = link_to  new0_user_registration_path, class: "boxbar__end--sinup" do
-#             新規会員登録
-#           = link_to new_user_session_path, class: "boxbar__end--login" do
-#             ログイン