.main
  .main_boxies
    .main_boxies_top
      .main_boxies_top_osusume
        おすすめレシピ
    .main_boxies_note
      .main_boxies_note_left
        .main_boxies_note_left_flame
          .main_boxies_note_left_flame_first
            .main_boxies_note_left_flame_first_itembox
              .main_boxies_note_left_flame_first_itembox_phot
              .main_boxies_note_left_flame_first_itembox_title
                .main_boxies_note_left_flame_first_itembox_title_titlebox
                  仮のタイトル
              .main_boxies_note_left_flame_first_itembox_name
                .main_boxies_note_left_flame_first_itembox_name_like
                  .main_boxies_note_left_flame_first_itembox_name_like_heart
                    = icon('far', 'heart')
                  .main_boxies_note_left_flame_first_itembox_name_like_count
                    32
                .main_boxies_note_left_flame_first_itembox_name_namebox
                  name

        - @notes.each do |note|
          .main_boxies_note_left_flame_second
            .main_boxies_note_left_flame_second_itemboxx
              .main_boxies_note_left_flame_second_itemboxx_lefttext
                .main_boxies_note_left_flame_second_itemboxx_lefttext_titles
                  = link_to note.title, note_path(note.id), class: "links"
                .main_boxies_note_left_flame_second_itemboxx_lefttext_names
                  .main_boxies_note_left_flame_second_itemboxx_lefttext_names_likes
                    .main_boxies_note_left_flame_second_itemboxx_lefttext_names_likes_hearts
                      = icon('far', 'heart')
                    .main_boxies_note_left_flame_second_itemboxx_lefttext_names_likes_counts
                      12
                  .main_boxies_note_left_flame_second_itemboxx_lefttext_names_nameboxes
                    = note.user.name
              .main_boxies_note_left_flame_second_itemboxx_phots
                - @images.each do |image|
                  = image.image

      -# .main_boxies_note_riright
      -#   .main_boxies_note_riright_sidebar
      -#     .main_boxies_note_riright_sidebar_bbox
      -#       .main_boxies_note_riright_sidebar_bbox_pic
      -#       .main_boxies_note_riright_sidebar_bbox_text
      -#         riritext

      -#     .main_boxies_note_riright_sidebar_bbox
      -#       .main_boxies_note_riright_sidebar_bbox_pic
      -#       .main_boxies_note_riright_sidebar_bbox_text
      -#         riritext
              
      -#     .main_boxies_note_riright_sidebar_bbox
      -#       .main_boxies_note_riright_sidebar_bbox_pic
      -#       .main_boxies_note_riright_sidebar_bbox_text
      -#         riritext





