.signup-main
  .signup-main_left
    .signup-main_left_welcome
      ようこそ！！
    .signup-main_left_comment
      .signup-main_left_comment_top
        noteは、創作をする人、それを応援する人、ものづくりが好きなみんなのための街のような場所。
      .signup-main_left_comment_second
        好みのクリエイターやコンテンツを見つけたり、自分のつくりたいものをつくったりして楽しめます。
      .signup-main_left_comment_second
        いっしょに、創作の輪を広げていきましょう。
  .signup-main_right
    %h2 Sign aa
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render "devise/shared/error_messages", resource: resource
      .signup-main_right_field
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email"
      .signup-main_right_field
        = f.label :password
        - if @minimum_password_length
          %em
            (#{@minimum_password_length} characters minimum)
        %br/
        = f.password_field :password, autocomplete: "new-password"
      .signup-main_right_field
        = f.label :password_confirmation
        %br/
        = f.password_field :password_confirmation, autocomplete: "new-password"
      .signup-main_right_actions
        = f.submit "Sign up"
      = render "devise/shared/links"




